
<script type="text/javascript">
window.onload = function() {
    var t=document.getElementById('newurl');
    t.setSelectionRange(0, t.value.length);
};
function putinclip()
{
	var t = document.getElementById("newurl");
	t.setSelectionRange(0, t.value.length);
	document.execCommand('copy');
}
</script>
<script>
  $(document).ready(function() {
    //var clip = new ZeroClipboard($("#clipbutton"));
    var clip = new ZeroClipboard($("#clipbutton"),{swfPath: 'assets/ZeroClipboard.swf', moviePath : 'assets/ZeroClipboard.swf'});
  });

</script>

<p>
<div id="uform">
  <label>You are moist welcome.</label><br><br>
  <textarea readonly rows="3" id = "newurl" ><%= @base[0..(@base.length-6)]  %></textarea>
</p>
<button id="clipbutton" data-clipboard-target='newurl' onclick="putinclip()"> Put this sexiness into my clipboard! </button>
<div id="uform">
